stage{
font-family:'Architalia';
font-size:16px;
font-weight:bold;
}

#panel{
background:#2e3440;
 box-shadow: none; 
}

#panel .panel-button{
font-family:'Architalia';
font-weight:bold;
font-size:16px;

}



/*icona activities*/

#panel .panel-button#panelActivities {
  background-image: url("assets/core.png");
  background-position: center center;
  background-size: 60px 20px;
  width: 60px;
  height: 20px;
  background-gradient-direction: none;
  border: none;
  color: transparent;
  font-size: 0;
   margin-left:10px ;
}

#panel .panel-button#panelActivities > * {
  width: 60px;
 
}

/*overview*/
#overview{background:#2e3440;}


/*menu*/

.popup-menu-content, .candidate-popup-content {
  padding: 6px;
  background-color: #2e3440;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); }

.quick-toggle-menu {
  border-radius: 12px;
  margin: 4px;
  transition-duration: 100ms;
  color: white;
  background-color: #3b4252!important;
  color: white !important;
  border-radius: 24px;
  padding: 12px;
  margin: 12px 18px 0; }

    
   /*ok*/ 
  .popup-menu-item:focus, .popup-menu-item:hover {
    transition-duration: 100ms;
    color: #3b4252; 
    background-color: #d8dee9;
    font-weight:bold;
    }
    
    
    
/*bottone attivo e freccia*/
  .quick-toggle:checked {
    transition-duration: 100ms;
    background-color: #5e81ac;
    color: #ffffff;
    }
    .quick-menu-toggle .quick-toggle-arrow:checked {
    transition-duration: 100ms;
    background-color:#5e81ac;
    color: #ffffff;
    border-color: #15539e; }
    /* end bottone attivo e freccia*/
    
    
    /*bottone e freccia hover*/
    .quick-toggle:checked:focus {
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6) !important; }
    .quick-toggle:checked:hover, .quick-toggle:checked:focus {
      background-color: #81a1c1;
      color: white; 
      }
    .quick-menu-toggle .quick-toggle-arrow:checked:hover, .quick-menu-toggle .quick-toggle-arrow:checked:focus {
      background-color: #81a1c1;
      color: white; }  
      /* end bottone e freccia hover*/ 
      
 


/* Slider */
.slider {
  -barlevel-height: 4px;
  -barlevel-background-color: rgba(255, 255, 255, 0.2);
  -barlevel-border-width: 2px;
  -barlevel-border-color: transparent;
  -barlevel-active-background-color: #81a1c1;
  -barlevel-active-border-color: transparent;
  -barlevel-overdrive-color: #e01b24;
  -barlevel-overdrive-border-color: transparent;
  -barlevel-overdrive-separator-width: 1px;
  -slider-handle-radius: 8px;
  -slider-handle-border-width: 0;
  -slider-handle-border-color: transparent; }



/*Dash*/


.dash-label, .window-caption, .screenshot-ui-tooltip {
  background-color: #3b4252;
  border: 0px solid rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  border-radius: 99px;
  padding: 6px 12px;
  text-align: center; }

.dash-background {
  background-color: #3b4252;
  border-radius: 28px;
  padding: 12px;
  spacing: 6px;
  margin-bottom: 12px; }

/*
.show-apps .show-apps-icon {
  color: transparent !important;
  background-image: url("assets/view-app-grid.svg");
  background-size: contain;
}

.show-apps .overview-icon, .show-apps .show-apps-icon {
  color: transparent !important;
}

*/

.app-folder-dialog .folder-name-container .edit-folder-button, .button, .calendar .calendar-day.calendar-today, .calendar .calendar-day, .calendar .calendar-month-header .pager-button, .icon-button, .login-dialog-button.cancel-button, .login-dialog-button.switch-user-button, .login-dialog-button.login-dialog-session-list-button, .background-app-item .close-button {
  transition-duration: 100ms;
  color: white;
  background-color: #3b4252; }
  
  .app-folder-dialog .folder-name-container .flat.edit-folder-button, .calendar .app-folder-dialog .folder-name-container .calendar-day.edit-folder-button, .app-folder-dialog .folder-name-container .calendar .calendar-day.edit-folder-button, .flat.button, .calendar .button.calendar-day, .calendar .calendar-day.calendar-today, .calendar .flat.calendar-day, .calendar .calendar-day, .calendar .calendar-month-header .pager-button, .flat.icon-button, .flat.login-dialog-button.cancel-button, .flat.login-dialog-button.switch-user-button, .flat.login-dialog-button.login-dialog-session-list-button, .background-app-item .flat.close-button, .calendar .icon-button.calendar-day, .calendar .calendar-day.login-dialog-button.cancel-button, .calendar .calendar-day.login-dialog-button.switch-user-button, .calendar .calendar-day.login-dialog-button.login-dialog-session-list-button, .calendar .background-app-item .calendar-day.close-button, .background-app-item .calendar .calendar-day.close-button {
    transition-duration: 100ms;
    color: white;
    background-color: #3b4252;
    background-color: transparent; }
    
    #LookingGlassDialog .notebook-tab, #LookingGlassDialog > #Toolbar .lg-toolbar-button, .screenshot-ui-show-pointer-button, .screenshot-ui-type-button {
  transition-duration: 100ms;
  color: #ffffff;
  background-color: #3b4252; }
  
  .events-button {
  border-radius: 12px;
  margin: 4px;
  transition-duration: 100ms;
  color: white;
  background-color: #3b4252;
  padding: 12px; }

.world-clocks-button {
  border-radius: 12px;
  margin: 4px;
  transition-duration: 100ms;
  color: white;
  background-color: #3b4252;
  padding: 12px; }

.message {
  border-radius: 12px;
  margin: 4px;
  transition-duration: 100ms;
  color: white;
  background-color: #3b4252; }

 .quick-settings-system-item .power-item:insensitive {
    transition-duration: 100ms;
    color: white;
    background-color: #3b4252;
    background-color: transparent; }

   .app-folder-dialog .folder-name-container .default.edit-folder-button:hover, .default.button:hover, .calendar .default.calendar-day:hover, .calendar .calendar-day.calendar-today:hover, .calendar .calendar-month-header .default.pager-button:hover, .default.icon-button:hover, .default.login-dialog-button.cancel-button:hover, .default.login-dialog-button.switch-user-button:hover, .default.login-dialog-button.login-dialog-session-list-button:hover, .background-app-item .default.close-button:hover, .app-folder-dialog .folder-name-container .default.edit-folder-button:focus, .default.button:focus, .calendar .default.calendar-day:focus, .calendar .calendar-day.calendar-today:focus, .calendar .calendar-month-header .default.pager-button:focus, .default.icon-button:focus, .default.login-dialog-button.cancel-button:focus, .default.login-dialog-button.switch-user-button:focus, .default.login-dialog-button.login-dialog-session-list-button:focus, .background-app-item .default.close-button:focus {
      background-color: #81a1c1;
      color: white; }

   .app-folder-dialog .folder-name-container .flat.default.edit-folder-button:hover, .flat.default.button:hover, .calendar .default.calendar-day:hover, .calendar .calendar-day.calendar-today:hover, .calendar .calendar-month-header .default.pager-button:hover, .default.icon-button:hover, .default.login-dialog-button.cancel-button:hover, .default.login-dialog-button.switch-user-button:hover, .default.login-dialog-button.login-dialog-session-list-button:hover, .background-app-item .default.close-button:hover, .app-folder-dialog .folder-name-container .flat.default.edit-folder-button:focus, .flat.default.button:focus, .calendar .default.calendar-day:focus, .calendar .calendar-day.calendar-today:focus, .calendar .calendar-month-header .default.pager-button:focus, .default.icon-button:focus, .default.login-dialog-button.cancel-button:focus, .default.login-dialog-button.switch-user-button:focus, .default.login-dialog-button.login-dialog-session-list-button:focus, .background-app-item .default.close-button:focus {
        background-color: #81a1c1;
        color: white; }




   .quick-toggle:checked:focus {
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6) !important; }
    .quick-toggle:checked:hover, .quick-toggle:checked:focus {
      background-color: #81a1c1;
      color: white; }

    .quick-menu-toggle .quick-toggle-arrow:checked:hover, .quick-menu-toggle .quick-toggle-arrow:checked:focus {
      background-color: #81a1c1;
      color: white; }

   .keyboard-key.default-key:latched {
      border-color: #81a1c1;}

.emoji-panel .keyboard-key:latched {
  border-color: #81a1c1;
  background-color: #3584e4; }

  .login-dialog-user-list:expanded .login-dialog-user-list-item:selected:hover {
        background-color: #81a1c1; }
